
  input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
 
  button {
    background-color: #800000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .danger{
    color: red;
  }

  button:hover {
    opacity: 0.8;
  }
  
  
  .container {
    padding: 16px;
    width: 30%;
    margin: 10% auto;
  }
  